@page
@model AwesomeBlogFrontEnd.MyDushboardModel
@{
    ViewData["Title"] = "dushboard";
}

<h1>Dushboard</h1>
<div class="container">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-8">

        </div>
    </div>
</div>
